# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 7709c1394919eb4d6151a714b82ada9f3bd0e11bac8823314e184e28695c01a2c9df4cef79fda817c3e2fb4181acd84f36e547fb1c712420ada422cbde027e9b

test:
  secret_key_base: 1a8e87d940a9c6e7ef442040de8000f12985c2057c87d5599514a1825d3555674cc0ee8a50c6038da444b1a9950e570dfb7f0194e6b7b7699a8bb3f30ece064a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
